{% assign filters = collection.filters %}
<div class="collection-sorting col-md-12 mb-2 filter-wrapper">
  <!-- storefront filters -->
  {% render 'product-sorting', filters: filters %}
  <!-- /storefront filters -->
</div>
